.pagination {
  display: flex;
  align-items: center;
  max-width: 400px;
  justify-content: center;
}

.articlePageContainer .pagination {
  max-width: 100%;
  justify-content: flex-start;
}

.pagination .pagination__pages {
  display: flex;
  align-items: center;
}

.pagination .pagination__pages a {
  margin-right: 20px;
}

.pagination .pagination__pages a:last-child {
  margin-right: 20px;
}
.pagination a,
.pagination span {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #858da6;
}

.pagination .pagination__spacer {
  margin-right: 25px;
}

.pagination a.active {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(180, 178, 178, 0.45);
  color: #5542f6;
  width: 24px;
  height: 24px;
}

.pagination .pagination__previous,
.pagination .pagination__next {
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.pagination .pagination__previous > svg,
.pagination .pagination__next > svg {
  width: 18px;
  height: 18px;
  color: #84818a;
  pointer-events: none;
}

.pagination .pagination__previous {
  margin-right: 23px;
}

.pagination .pagination__previous.active {
  cursor: auto;
}

.pagination .pagination__next.active {
  cursor: auto;
}

.paginator-num_pages {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #84818a;
}
